@model string
@{
    ViewData["Title"] = "Login - Areana ";
    var url = $"/oauth/Authorize{Model}";
}

<script type="text/javascript">
    window.onload = () => {
        debugger;
        let showPassword = document.getElementsByClassName('showPassword');
        let hidePassword = document.getElementsByClassName('hidePassword');
        let showPasswordContainer = document.getElementsByClassName('showPasswordClick');
        let hidePasswordContainer = document.getElementsByClassName('hidePasswordClick');
        setStyle(hidePasswordContainer[0], 'display', 'none');
        addClickEvent(showPassword, function (){
            var txtPassword = document.getElementById('txtPassword');
            txtPassword.setAttribute("type", "text");
            setStyle(showPasswordContainer[0], 'display', 'none');
            setStyle(hidePasswordContainer[0], 'display', 'block');
        });

        addClickEvent(hidePassword,function(){
            var txtPassword = document.getElementById('txtPassword');
            txtPassword.setAttribute("type", "password");
            setStyle(showPasswordContainer[0], 'display', 'block');
            setStyle(hidePasswordContainer[0], 'display', 'none');
        });
    };
    function setStyle(ele, style, val) {
        ele.style[style] = val;
    }
    function addClickEvent(collection, handler) {
        for (let item in collection) {
            if (!isNaN(parseInt(item))) {
                collection[item].addEventListener("click", handler);
            }
        }
    }
</script>
<div class="container container-body">
    <div class="row justify-content-md-center mx-auto login-container">
        <div class="text-center center logo">
            <img src="~/Images/Logo/logo64.png" />
            <div>Arean IoT Home Automation</div>
        </div>
        <form action="@url" method="post">
            <div class="mb-3">
                <label for="txtUsername" class="form-label small">Email address</label>
                <input type="email" autofocus="true" tabindex="1" autocomplete="username" placeholder="Email" class="form-control" name="userName" id="txtUsername" aria-describedby="emailHelp">
                <div id="emailHelp" class="small form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="txtPassword" class="form-label small">Password</label>
                <div class="input-group mb-3">
                    <input type="password" name="password"tabindex="2" placeholder="Password" autocomplete="current-password" style="cursor:pointer;" class="form-control" id="txtPassword">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" class="showPasswordClick" style="cursor:pointer;z-index:1" width="16" height="16" fill="currentColor" class="bi bi-eye showPassword" viewBox="0 0 16 16">
                            <path class="showPassword" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                            <path class="showPassword" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="hidePasswordClick" style="cursor:pointer;z-index:1" width="16" height="16" fill="currentColor" class="bi bi-eye-slash hidePassword" viewBox="0 0 16 16">
                            <path class="hidePassword" d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                            <path class="hidePassword" d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                            <path class="hidePassword" d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                        </svg>
                    </span>
                </div>


            </div>
            <button type="submit" style="width:100%" tabindex="3" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>